
{% extends 'index.html'%}

{% load static %}

{% block loadCss %}
<link rel="stylesheet" href="{% static 'assets/css/form.css'%}"/>
{% endblock %}

{% block content %}

  <!-- HOME HEADING SECTION -->



<div class="registerDiv logindiv">
    <div class="login-box">


        <div class="container">

                  
            <div class="register-content">
    
                <form method="POST" id="signup-form" class="signup-form" action="success/" autocomplete="off">

                    {% csrf_token %}

                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li  style="color: red;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} {% endif %}
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
    
                    <h2 class="form-title">Login</h2>


                    
                    <button class="loginBtn loginBtn--facebook">
                        Login using Facebook
                      </button>
                      
                      <button class="loginBtn loginBtn--google">
                        Login using Google
                      </button>
                    

                    <div class="form-group user-box">
                        <input autocomplete="off" type="text" class="form-input" name="email" placeholder="Your Email Address" required/>
                    </div>
    
                    <div class="form-group user-box">
                        <input type="password" class="form-input" name="password" placeholder="Enter Password" required min="7"/>
                    </div>
    
                    <p  class="loginHereLink">
                        <a href="{% url "password_reset" %}">Forget Password?</a>
                    </p>
                   
                    
                 
                  
                 
                    <input type="submit" name="submit" id="submit" class="btn btn-info  btn-block" value="Register"/>
                    <br>
    
                 
    
                </form>
              
            </div>
                
    
    
        </div>

    </div>
   

</div>
   



{% endblock %}

{% block footer %}

{% endblock %}