{% extends 'index.html' %}

{% load static %}

{% block loadCss %}
<link rel="stylesheet" href="{% static 'assets/css/forgetPassword.css'%}"/>
{% endblock %}

{% block content %}
<br><br>
<div class="container">
<h1>Forgotten your password?</h1>
<p>Enter your e-mail address to obtain a new password.</p>




<form  method="post">

    <div class="md-form md-outline">
        {{ form.as_p }}
      </div>


{% csrf_token %}

<p><input type="submit" value="Send E-mail" class="btn btn-primary"></p>
</form> 



</div>



{% endblock %}


{% block footer %}
<br><br><br>
{% endblock %}