{% extends "index.html" %}

{% load static %}

{% block loadCss %}
<link rel="stylesheet" href="{% static 'assets/css/forgetPassword.css'%}"/>
{% endblock %}

{% block content %}
<br><br>
<div class="container">
<h1>Reset your password</h1>
<p>We've emailed you instructions for setting your password.</p>
<p>If you don't receive an email, please make sure you've entered
the address you registered with.If the email address is correct, please make sure to check spam on your mail.</p>
</div>
{% endblock %}


{% block footer %}
<br><br><br>
{% endblock %}