* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  #notfound {
    position: relative;
    height: 100vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
  }
  
  .notfound .notfound-404 {
    position: relative;
    height: 240px;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 252px;
    font-weight: 900;
    margin: 0px;
    color: #262626;
    text-transform: uppercase;
    letter-spacing: -40px;
    margin-left: -20px;
  }
  
  .notfound .notfound-404 h1>span {
    text-shadow: -8px 0px 0px #fff;
  }
  
  .notfound .notfound-404 h3 {
    font-family: 'Cabin', sans-serif;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #262626;
    margin: 0px;
    letter-spacing: 3px;
    padding-left: 6px;
  }
  
  .notfound h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    margin-top: 0px;
    margin-bottom: 25px;
  }
  
  @media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
      height: 200px;
    }
    .notfound .notfound-404 h1 {
      font-size: 200px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
      height: 162px;
    }
    .notfound .notfound-404 h1 {
      font-size: 162px;
      height: 150px;
      line-height: 162px;
    }
    .notfound h2 {
      font-size: 16px;
    }
  }
  

  p {
    line-height: 1.8;
}


@import url(//fonts.googleapis.com/css?family=Roboto:500,300,400);

body {
    margin:0;
    font-family:'Roboto', sans-serif;
    font-weight:400;
    color:#333;
}

a {
    color:#3fad37;
    text-decoration:none;
}

ul {
    float:left;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Roboto', sans-serif;
    font-weight:300;
}

h1 {
    background:#efefef;
    width:100%;
    overflow:auto;
    padding:20px 0 20px 40px;
    margin:0;
}

.module {
    padding:10px 20px;
    float:left;
    width:600px;
}

.module h3 {
    margin:20px 0 0;
    padding:0;
    width:100%;
}

.module p {
    margin:10px 0 20px;
    width:100%;
    float:left;
}

#header {
    background:#4dcc43;
    overflow:auto;
    padding:10px 20px;
    border-bottom:6px solid #3fad37;
}

#header .logo {
    text-decoration:none;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    text-transform:uppercase;
    font-size:24px;
    color:#fff;
    float:left;
}

#header a {
    color:#fff;
}

#header .menu {
    list-style:none;
    float:right;
    margin:0;
    padding:0;
}

.contents {
 
    width:20%;
   
    padding:20px;
    float:left;
   
    background:#333;
    color: #fff;
    font-family:'Roboto', sans-serif;
}

.contents ul {
    list-style:none;
    margin:0;
    padding:0;
    width:100%;
}

.contents ul li {
    margin:0 0 10px 0;
    padding:4px 10px 10px;
    overflow:auto;
    cursor:move;
}

.contents ul li.selected {
    background:#3f3f3f;
}

.contents ul li:hover {
    background:#3f3f3f;
}

.contents ul span {
    text-transform:uppercase;
    color:#bbb;
    font-size:14px;
}

.contents ul a {
    display:block;
    color:#fff;
    text-decoration:none;
}

.contents ul a:hover {
    color:#4dcc43;
    cursor:move;
}

ul.content-types li {
    list-style:none;
    float:left;
    margin:10px;
    background:#efefef;
    padding:8px 14px;
}

.hidden {
    display:none;
}

form p {
  overflow:auto;
}

.errorlist {
  color:#ae2c2c;
  margin:0;
}

label {
  float:left;
  clear:both;
  margin:0 0 8px 0;
  margin-top: 10px;
}

input, select, textarea {
  border:1px solid #ccc;
  border-bottom:3px solid #ccc;
  padding:8px 12px;
  font-size:16px;
  font-family:'Roboto', sans-serif;
  float:left;
  clear:both;
  width:100%;
}

textarea {
  height:80px;
}

select {
  width:324px;
  
}

input[type=submit], a.button {
  border-radius:5px;
  background:#1E90FF;
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  border:none;
  padding:10px 20px;
  margin:20px 0;
}

a.secondary-button {
  border:3px solid #4dcc43;
  padding:10px 20px;
  margin:10px 0;
}

input[type=submit]:hover, a.button:hover {
  background:#3fad37;
}

ul#course-modules {
  list-style:none;
  overflow:auto;
}

ul#course-modules textarea {
  width:600px;
  height:120px;
}

ul#course-modules li {
  padding:20px;
  overflow:auto;
  cursor:move;
}

ul#course-modules li:nth-child(even) {
  background:#efefef;
}

ul#course-modules li:hover {
  background:#ccc;
}



#module-contents div {
  padding:10px 20px;
  border:1px solid #ccc;
  background:#fff
  
}

#module-contents form {
  margin:0;
  padding:0;
}

#module-contents input[type=submit] {
  color:#3fad37;
  background:none;
  margin:-20px 0 0;
  padding:0;
  float:left;
  text-transform:none;
}

#module-contents div:hover {
  cursor:move;
}

.course-info {
  border:1px solid #ccc;
  padding:0 20px;
  margin-bottom:10px;
  width:400px;
  overflow:auto;
}

.course-info a {
  margin-right:10px;
}



