{% extends 'index.html'%}

{% load static %}

{% block loadCss %}
<link rel="stylesheet" href="{% static 'assets/css/list.css'%}"/>
{% endblock %}

{% block content %}

    {% for post in page_obj %}

    <div class="container">
        <h2><a href="{% url 'post_detail' post.pk %}">{{post.title}}</a></h2>
        <p> Published {{post.publish }} by {{ post.user }}</p>
        <p>{{post.body|truncatewords:30|linebreaks }}</p>

    </div>


   
    


    {% endfor %}


    {% include "pagination.html" with page=page_obj %}

    <div>
        <a href="{% url 'post_new' course.id %}">
            post
        </a>
    </div>
{% endblock %}


{% block footer %}

{% endblock %}