{% extends 'index.html'%}

{% load static %}

{% block loadCss %}
<link rel="stylesheet" href="{% static 'assets/css/detail.css'%}"/>
{% endblock %}

{% block content %}
    {% with subject=object.subject %}
    <h1>
        {{object.title}}
    </h1>
    <div class="module">
        <h2>Overview</h2>

       
            <p>
                <a href="{% url "course_list_subject" subject.slug %}">
                    {{subject.title}}
    
                </a><br>{{object.modules.count}} modules <br>Instructor: {{object.owner.get_full_name}}
            </p>
            <br>
       <div class="container">
        {{ object.overview|linebreaks}}
       </div>
        <br>
       <div class="form">
        {% if request.user.is_authenticated and request.user.userprofileinfo.userType == 'Learner'%}

        <form action="{% url "student_enroll_course" %}" method="post">
            {{enroll_form}}
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="ENROLL NOW">

        </form>
        {% else %}
        <a href="{% url "register" %}" class="button btn btn-primary">
            REGISTER AS LEARNER TO ENROLL
        </a>

        {% endif %}
       </div>
      

    </div>

    {% endwith %}
    {% endblock %}





{% block footer %}

{% endblock %}